/* {
    border: red 1px solid !important;
} */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

.request-form-container {
    background-color: #fff;
    padding: 5px 5% 15px 5%;
    margin: 30px auto 25px auto; 
    width: 85%;
    max-width: 1200px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.form-title-container {   
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #333 1px solid;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 20px 0 10px 0;
}

.row {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
}

.main-request-area {
    align-items: stretch;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    flex: 1;
}

.form-label {
    font-weight: bold;
    color: #333;
    width: auto;
    flex-shrink: 0;
}

.general-input {
    width: 100%;
    padding: 10px 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    flex: 1;
}

.request-input {
    max-width: 100%;
    width: 100%;
    resize: none;      
    min-height: 150px;   
    line-height: 1.5;
}

.scrollable {
    box-sizing: border-box;
    width: 100%;
    overflow-y: auto;
    flex-grow: 1; 
    height: 0; 
    border: 1px solid #ccc; 
    padding: 10px;
}

.file-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-item a {
    color: #0066cc;
    text-decoration: none
}

.file-item a:hover {
    color: #002a54;    
}

.file-item a:visited {
    color: #0066cc;    
}

.btn-submit-container {
   display: flex;
   align-items: center;
   gap: 20px;
}

.btn-submit {
    background-color: #32749a;
    color: white;
    font-weight: bolder;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}