.time-sheet-display-container, .time-sheet-input-container{
    background-color: #fff;
    padding: 5px 5% 15px 5%;
    margin: 40px auto 50px auto; 
    width: 85%;
    max-width: 1200px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.form-title-container {   
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-title-time-sheet-input {
    border-bottom: #333 1px solid;
    margin-bottom: 20px;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.row {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    flex: 1 1 auto;
}

.form-label {
    font-weight: bold;
    color: #333;
    width: auto;
    flex-shrink: 0;
}
.general-input {
    width: 100%;
    max-width: 500px;
    padding: 10px 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.btn-submit {
    background-color: #32749a;
    color: white;
    font-weight: bolder;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.table-headers {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding-bottom: 10px;
    margin: 15px, 0;
}

.table-header-container, .table-cell{
    flex: 1;
    text-align: center;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    padding: 10px;
}

.table-header-container:first-child, .table-cell:first-child{
    border-left: 1px solid #333;
}

@media (max-width: 600px) {
   
}